# Docker settings
APP_CONTAINER_NAME=yuno-app-container
APP_IMAGE_NAME=yuno-app-image
APP_NAME=yuno

# DB settings
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgresdb
DB_HOST=yuno-db
DB_PORT=5432
DB_CONTAINER_NAME=yuno-db-container
DB_EXPOSE_PORT=5432

# Redis settings
REDIS_CONTAINER_NAME=redis_container_name
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASS=exampleRedisPassword
REDIS_POOL_SIZE=100

# Log settings
LOG_FILE_NAME=log_file_name.log
 # HH:MM
LOG_ROTATION=00:00
 # in days
LOG_RETENTION=3

# Misc settings